body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

header {
  background-color: #ffffff;
}

header nav {
  margin-left: 156px;
}

header nav .logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

header nav .logo .studio {
  color: #2e2f42;
}

header nav ul {
}

header nav ul li {
}

header ul li .nav-links {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
}

header nav ul li .nav-links:focus {
  color: #404bbf;
}

header nav ul li .nav-links:hover {
  color: #404bbf;
}

header .info {
  font-style: normal;
}

header .info .info-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

header .info .info-links:focus {
  color: #404bbf;
}

header .info .info-links:hover {
  color: #404bbf;
}

section.hero {
  background-color: #2e2f42;
  color: #ffffff;
}

section.hero .hero-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

section.hero .button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

section.hero .button:hover {
  background-color: #404bbf;
}

section.hero .button:focus {
  background-color: #404bbf;
}

section.features {
}

section.features .feature {
}

section.features .feature h3 {
  font-size: 20px;
  line-height: 24px;
}

section.features .feature p {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  text-align: left;
}

section .team {
  background-color: #f4f4fd;
}

section .team .member {
  background-color: #ffffff;
}

section .team h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #2e2f42;
}

section .team .member h3 {
  font-size: 20px;
  line-height: 24px;
}

section .team .member p {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

section .portfolio {
  background-color: #ffffff;
}

section .portfolio .portfolio-item {
  background-color: #ffffff;
}

section .portfolio h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #2e2f42;
}

section .portfolio .portfolio-item h3 {
  font-size: 20px;
  line-height: 24px;
}

section .portfolio .portfolio-item p {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

footer .logo span {
  color: #4d5ae5;
}

footer p {
}
